
#simplemodal-overlay { background-color:#000000; cursor:auto; }


/* Container */
#simplemodal-container { width:auto; height:auto;  z-index:500; position:absolute; }
#simplemodal-container .simplemodal-data {}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D;display:block; margin-bottom:12px; padding:4px 6px 6px; }
#simplemodal-container a.modalCloseImg {background:url(../images/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#modal_s6 { width:390px; height:446px; background-color:#000000; padding:13px; overflow:hidden; 
}
#modal_s7 { width:470px; height:486px; background-color:#000000;
}